/candle.html
/classattribute.html
/collegeintro.html
/flexboxlayout.html
/floatlayout.html
/formating.htm
/forms.htm
/forms.html
/htmlLinks.html
/iframe.html
/introduce mumbai.html
/introduce.html
/Jaywantcollege.html
/JCEP.html
/Layoutelement.html
/layoutelenew.htm
/MlmDemo.html
/mumtasks.htm
/task1.html
/ul.html
/YCP.html